.postUser {
    width: 100%;
    height: 20%;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.postUserPicture {
    height: 80%;
    padding-left: 8px;
}

.postUserName {
    padding-left: 8px;
}